// px-i rem-ə çevirən funksiya
@function px-to-rem($px, $base: 16) {
  @return ($px / $base) * 1rem;
}

// İstifadə nümunəsi
.h1 {
  font-size: px-to-rem(50); // 1.5rem
  margin-bottom: px-to-rem(32);
}

@function grid($a, $b) {
  @return gridsys($a / $b);
}

.container {
  width: 1000px;
  margin: 0 auto;

  .sol {
    float: left;
    width: grid(3, 10); // 30%
    background: orange;
  }

  .sag {
    float: left;
    width: grid(7, 10); // 70%
    background: blue;
  }
}
